<footer class="footer footer-default">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="https://www.karomap.com" target="_blank">Karomap, Inc.</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="copyright">
                    &copy; {{ date.getFullYear() }} <a routerLink="/">{{ settings.site.author }}</a>, All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
